[submodule "mvnDownloader"]
	path = mvnDownloader
	url = https://github.com/rasimusv/mvnDownloader
[submodule "ThreadsWork"]
	path = ThreadsWork
	url = https://github.com/rasimusv/ThreadsWork
[submodule "MultiThreadDownloader"]
	path = MultiThreadDownloader
	url = https://github.com/rasimusv/MultiThreadDownloader
[submodule "SocketsHomework"]
	path = SocketsHomework
	url = https://github.com/rasimusv/SocketsHomework
[submodule "AnnotationsHomework"]
	path = AnnotationsHomework
	url = https://github.com/rasimusv/AnnotationsHomework
[submodule "EntityManager"]
	path = EntityManager
	url = https://github.com/rasimusv/EntityManager
